<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get</title>
</head>
<body>
   
    <form action="Ejercicio18.php" method="get">
        Nombre:
        <input type="text" name=" Nombre " id="">
    <br/>
    <form action="Ejercicio18.php" method="get">
    Apellido:
    <input type="text" name=" Apellido " id="">
    <br/>
    
    <input type="submit" value="Enviar ">
    </form>
</body>
</html>